.thm-btn {
    display: inline-block;
    vertical-align: middle;
    border: none;
    outline: none;
    color: #ffffff !important;
    /*font-size: 17px;*/
    font-weight: 600;
    background-color: var(--thm-base) !important;
    /*padding: 13.5px 36.5px;*/
    text-align: center;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    border-color: #FFFFFF !important;
    border: 1px solid var(--thm-base) !important;
}

.thm-btn:hover {
    background-color: #fff !important;
    color: var(--thm-base) !important;
    border: 1px solid var(--thm-base) !important;
}

.form-control:focus {
    border-color: var(--thm-base) !important;
}

.modal-title {
    color: var(--thm-base) !important;
}

.modal-header span[aria-hidden=true] {
    color: var(--thm-base) !important;
}
/*a {*/
/*    color: var(--thm-base) !important;*/
/*}*/


.page-item.active .page-link {
    z-index: 3;
    border-radius: 5rem;
    background-color: var(--thm-base) !important;
    color: #fff !important;
    font-weight: 600;
}

.page-link:hover {
    color: var(--thm-base) !important;
}

/* Dropdown */
.dropdown-item:hover, .dropdown-item:focus {
    color: var(--thm-base) !important;
    text-decoration: none;
    background-color: rgba(var(--thm-base-rgb), 0.12);
}
/* End of Dropdown */

/* Sidebar */
.main-menu.menu-light .navigation > li.active > a {
    background: linear-gradient(118deg, var(--thm-base), #FFFFFF);
    box-shadow: 0 0 10px 1px rgba(var(--thm-black-rgb), 0.7);
    color: #fff;
    font-weight: 400;
    border-radius: 4px;
}
.main-menu.menu-light .navigation > li ul .active {
    background: linear-gradient(118deg, var(--thm-base), #FFFFFF);
    box-shadow: 0 0 10px 1px rgba(var(--thm-black-rgb), 0.7);
    border-radius: 4px;
    z-index: 1;
}

/* End of Sidebar*/

.breadcrumb-item a {
    color: var(--thm-base);
}

/* Select2 customization */

.select2-search__field:focus {
    outline: none !important;
    border-color: var(--thm-base) !important;
    border-width: 2px !important;
}

.select2-results__option--highlighted[aria-selected], .select2-results__option--highlighted {
    background-color: var(--thm-base) !important;
    color: white !important;
}

.select2-container--classic .select2-selection--single:focus,
.select2-container--default .select2-selection--single:focus {
    outline: 0;
    border-color: var(--thm-base) !important;
    box-shadow: 0 3px 10px 0 rgba( var(--thm-base-rgb) , 0.1) !important;
}

.select2-container--classic.select2-container--open .select2-selection--single,
.select2-container--default.select2-container--open .select2-selection--single {
    border-color: var(--thm-base) !important;
    outline: 0;
}

.select2-container--classic .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: var(--thm-base) !important;
    color: white !important;
}

/* End of Select2 customization*/

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: var(--thm-base);
    background-color: var(--thm-base);
}

/* Footer */
.footer a {
    color: var(--thm-base);
}

/* End of Footer*/

