.search-form{
    max-width: 600px !important;
    margin-top: 50px;
    margin-left: auto !important;
    margin-right:  auto !important;
}

.search-form .search-popup__form{
    z-index: 1 !important;
}

/*** BEGIN Mobile Login - Sign Up Menu ***/
.login{
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    margin-top: -30px;
}

.login-link{
    width: 50%;
    height: 50px;
    line-height: 50px;
    display: block;
    float: left;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

.login-link:hover{
    background-color: #aaa081;
    color: #fff !important;
}
/*** BEGIN Mobile Login - Sign Up Menu ***/

/*** BEGIN Slider Image Overlay ***/
.slide-item{
    background-color: #424242;
}

.slide-item .image-layer{
    opacity: 0.4 !important;
}
/*** BEGIN Slider Image Overlay ***/


/*** BEGIN Home Philanthropist Carousel ***/
.block-title-two {
    margin-bottom: 60px;
    position: relative;
    padding-top: 0 !important;
}

.collection-two{
    padding: 100px 0 !important;
}
/*** END Home Philanthropist Carousel ***/

/*** BEGIN Footer ***/
.site-footer{
    border-top: 1px solid #e5e5e5;
}
/*** END Footer ***/

/*** BEGIN Newsletter Form ***/
.newsletter-form{
    max-width: 100% !important;
    margin-top: 50px;
    margin-left: auto !important;
    margin-right:  auto !important;
}

.newsletter-form input{
    border: 1px solid #e5e5e5;
}

.newsletter-form .search-popup__form{
    z-index: 1 !important;
    padding: 0 !important;
}

.newsletter-form .search-popup__form button[type="submit"] {
    right: -1px;
}

@media (max-width:991px) {
    .footer-widget__about {
        padding-right: 0px;
    }

    .newsletter-form{
        margin-bottom: 60px;
    }

    .newsletter-form .search-popup__form{
        max-width: 100% !important;
        width: 100% !important;
    }
}
/*** END Newsletter Form ***/

/*** BEGIN Search Page Top ***/
.col-view .search-page-top{
    padding: 15px;
}

.search-page-top .col-md-4{
    padding: 0 !important;
}

.philanthropists .contact-one__form .bootstrap-select > .dropdown-toggle {
    height: 45px !important;
}

.load-more {
    width: 100% !important;
    text-align: center !important;
}

@media (max-width: 768px){
    .search-page-top .col-md-4{
        width: 50% !important;
        display: block !important;
        float: left !important;
    }

    .search-page-top .col-md-8{
        width: 50% !important;
        display: block !important;
        float: left !important;
    }
}
/*** END Search Page Top ***/

/*** BEGIN View Type ***/
.view-type{
    width: 50px !important;
    display: block !important;
    float: left !important;
}
/*** END View Type ***/

/*** BEGIN Philanthropists Search Page - Philanthropists Item ***/
.philanthropists{
    padding: 50px 10px !important;
}

.philanthropists-item{
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}

.philanthropists-item:hover{
    box-shadow: 0px 20px 50px 0px rgba(33, 37, 43, 0.1);
}

.philanthropists-item .col-md-3, .philanthropists-item .col-md-9{
    padding: 0 !important;
}

.philanthropists-item .philanthropists-image img{
    width: 100% !important;
}

.philanthropists-item .philanthropists-content{
    padding: 30px !important;
}

.philanthropists-item .philanthropists-content h3 a{
    color: #252930;
}

.philanthropists-item .philanthropists-content h3 a:hover{
    color: #aaa081 !important;
}

.philanthropists-item .philanthropists-content .date-of-birth:after{
    content: "-";
    margin: 0 20px;
}

.philanthropists-item .philanthropists-content .content-button{
    margin-top: 20px;
}

.col-view .philanthropists-item .philanthropists-content .date-of-birth:after{
    display: none;
}

.col-view .blog-one__content h3{
    margin-bottom: 0 !important;
}

/*
.equal-height{
    display: table !important;
    width: 100%;
}

.equal-height .col{
    display: table-cell !important;
}
*/

@media (max-width: 480px) {
	.philanthropists-item .philanthropists-content .content-button{
        text-align: center;
        margin-top: 40px;
    }

    .philanthropists-item .philanthropists-content .date-of-birth, .philanthropists-item .philanthropists-content .date-of-death{
        width: 100%;
        display: block;
        float: left;
    }

    .philanthropists-item .philanthropists-content .date-of-birth:after{
        display: none;
    }
}
/*** END Philanthropists Search Page - Philanthropists Item ***/

/*** BEGIN Philanthropist Detail Page ***/
.event-details__content img{
    width: 50%;
    float: left;
    padding: 0 20px 20px 0;
}

.event-details .event-details__main{
    padding-bottom: 30px;
}

/*** BEGIN List Family Tree ***/
.family-tree-item{
    color: #aaa081 !important;
}

.family-tree-item:hover{
    color: #fff !important;
}
/*** END List Family Tree ***/

.navigable-link {
    color: var(--thm-base);
}

.navigable-link:hover {
    text-decoration: underline;
}

/*** END Philanthropist Detail Page ***/